__pycache__/
*.py[cod]
.pytest_cache/
.venv/
*.db
.env
kaggle.json

data/raw/*
!data/raw/.gitkeep
!data/raw/olist/
data/raw/olist/*
!data/raw/olist/.gitkeep

data/processed/*
!data/processed/.gitkeep

node_modules/
dist/
